* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    background: #FAFAFA
}

.text_st p {
    transform: translateX(-35px);
}


.green button {
    transform: translateX(-35px);
}



@media screen and (min-width: 1920px) {
    .text_st p {
        transform: translateX(-70px);
    }

    .green button {
        transform: translateX(-70px);
    }
}